<div class= "text-center">
  <div class= "row">
    <di class="col-xs-6 mt-5 mx-auto align-items-center">
      <h1>About</h1>
      <h5 class= "mt-3 mb-3">
        ながのCAKEは全国配送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
　　　　様々なバリエーションをご用意しております。<br>
　　　　また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
　　　　ぜひご注文ください。
      </h5>
      <img class="mx-auto" src="assets/no_image.jpg" style="width: 600px; height: 300px;">
    </div>
  </div>
</div>




