<div>
  <div>
    <div>
      <p>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員の登録が必要になります。<br>
      </p>
    </div>
    <div>
      <h2>新着商品</h2>
    </div> 
  </div>
</div>
