<h2>ジャンル編集</h2>
<div>
  <div>
    <div>
      <%= form_with model: @genre_found, url: admin_genre_path(@genre_found), method: :patch do |f| %>
        <td><%= f.label :"ジャンル名" %></td>
        <td><%= f.text_field :name %></td>
        <td><%= f.submit "変更を保存" %></td>
      <% end %>
    </div>
  </div>
</div>




