<div>
  <div>
    <div>
      <h2>ジャンル一覧</h2>
    </div>
  </div>
  <div>
    <div>
      <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
        <%= f.label :name, "ジャンル名" %>
        <%= f.text_field :name, placeholder: "ジャンル名を入力してください" %>
        <%=f.submit "新規登録" %>
      <% end %>
    </div>
  </div>
  
</div>
      
      
      
      
      
      